.menu-container{
    background: rgb(75, 73, 73);
    display: flex;
    justify-content: center;
    height: 100vh;
    align-items: center;
    flex-direction: column;
    box-sizing: border-box
}