.home {
  background: rgb(75, 73, 73);
  display: flex;
  justify-content: start;
  height: 100vh;
  align-items: start;
  flex-direction: column;
  box-sizing: border-box
}

.preloader {
  flex-grow: 1;
}